# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Database
*.db
*.sqlite
*.sqlite3

# Test binary
*.test

# Output
*.out

# Go specific
vendor/
*.mod
!go.mod
*.sum
!go.sum

# IDE
.idea/
*.iml